/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'material-override';
@import 'material-icons-override';

html {
    font-family: $font-stack;
    font-size: $primary-font-size; // all 'rem' units will be based on that root element font-size value
}

body { 
    margin: $primary-margin;
    background-color: $primary-background-color;
    color: $primary-color;
}

table {
    width: 100%;
}

/* NAVIGATION STARTS */
/* NAVIGATION ENDS */

/* POSITIONING STARTS */
.fo-text-center {
    text-align: center;
}

.fo-button-link-container {
    & a {
        padding-left: 0.5rem;
    } 
}

.fo-sticky-add-button {
    display: block;
    position: fixed;
    bottom: 0;
    left: 45%;
    margin-bottom: 1rem;
    opacity: 0.5;
}
/* POSITIONING ENDS */

/* FORMATTING STARTS */
.fo-version-info {
    font-size: 0.65rem; // ~8pt
    float: right;
} 

.fo-secondary-text {
    // color: $secondary-color;
    opacity: 0.7;
    font-size: 0.7rem;
}

.fo-highlight-color {
    color: $highlight-color;
}

/* FORMATTING ENDS */