<mat-radio-group [(ngModel)]="viewMode">
  <mat-radio-button [value]=PeopleViewMode.Table>View by Name</mat-radio-button>
  <mat-radio-button [value]=PeopleViewMode.Tree>View Grouped</mat-radio-button>
</mat-radio-group>

<mat-divider></mat-divider>

<div *ngIf="people else loading">
  <span [ngSwitch]="viewMode">
    <fo-people-table-view *ngSwitchDefault [people]='people'>

    </fo-people-table-view>
    <fo-people-tree-view *ngSwitchCase='PeopleViewMode.Tree' [people]='people'>

    </fo-people-tree-view>
  </span>
</div>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>