<div *ngIf="isViewMode else createView">
  <div #loading *ngIf="(isBusy && !person) else personDetailView">
      <fo-loading></fo-loading>
  </div>

  <ng-template #personDetailView>
    <div class="container" *ngIf="recordFound else noRecordFound">
      <div class="row">
        <div class="col-2">
          <label>Name</label>
        </div>
        <div class="col-10">
          <span>{{person.name}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label>Place</label>
        </div>
        <div class="col-10">
          <span>{{person.place}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label>Date</label>
        </div>
        <div class="col-10">
          <span>{{person.Date}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label>Note</label>
        </div>
        <div class="col-10">
          <span>{{person.note}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <label>Associations</label>
        </div>
        <div class="col-10">
          <span>{{person.association}}</span>
        </div>
      </div>
    </div>

    <ng-template #noRecordFound>
      <span>
        No Record found by id: '{{id}}'
      </span>
    </ng-template>




  </ng-template>
</div>

<ng-template #createView>
  <p>
    person-detail Create - id: '{{id}}'
  </p>
</ng-template>