<div #loading *ngIf="isBusy else contentView">
  <fo-loading></fo-loading>
</div>

<ng-template #contentView>
  <div *ngIf="isViewMode && !recordFound else personDetail">
    <span>
      No Record found by id: '{{id}}'
    </span>
  </div>

  <ng-template #personDetail>
    <div class="mat-elevation-z8">
      <form [formGroup]="personForm" [ngSwitch]="isViewMode">
        <div class="container">
          <div class="row">
            <div class="col-3 col-md-2">
              <label>Name</label>
            </div>
            <div class="col-9 col-md-10">
              <span *ngSwitchDefault>{{person.name}}</span>
              <input *ngSwitchCase="false" type="text" formControlName="name">
            </div>
          </div>
          <div class="row">
            <div class="col-3 col-md-2">
              <label>Place</label>
            </div>
            <div class="col-9 col-md-10">
              <span *ngSwitchDefault>{{person.place}}</span>
              <input *ngSwitchCase="false" type="text" formControlName="place">
            </div>
          </div>
          <div class="row">
            <div class="col-3 col-md-2">
              <label>Date</label>
            </div>
            <div class="col-9 col-md-10">
              <span *ngSwitchDefault>{{person.date | date}}</span>
              <input *ngSwitchCase="false" type="text" formControlName="date">
            </div>
          </div>
          <div class="row">
            <div class="col-3 col-md-2">
              <label>Note</label>
            </div>
            <div class="col-9 col-md-10">
              <span *ngSwitchDefault>{{person.note}}</span>
              <input *ngSwitchCase="false" type="text" formControlName="note">
            </div>
          </div>
          <div class="row">
            <div class="col-3 col-md-2">
              <label>Associations</label>
            </div>
            <div class="col-9 col-md-10">
              <mat-chip-list *ngSwitchDefault>
                <mat-chip color="accent" selected *ngFor="let association of person.associations">
                  {{association}}
                </mat-chip>
              </mat-chip-list>
              <input *ngSwitchCase="false" type="text" formControlName="associations">
            </div>
          </div>
          <div class="row" *ngSwitchCase="false">
            <div class="col-3 col-md-2"></div>
            <div class="col-9 col-md-10">
              <button mat-button (click)="save()" [disabled]="personForm.invalid || !(personForm.dirty || personForm.touched)">
                Save
              </button>
              <button mat-button (click)="back()">Back</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</ng-template>